/* Heading.module.css */
.headerContentWrapper {
  position: relative;
  z-index: 2;
  padding-bottom: 3%;
  overflow: hidden;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.headingItem {
  position: relative;
  display: inline-block;
}

.headerText {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 700;
  margin: 0 auto;
  width: fit-content;
  --glow-opacity: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, var(--glow-opacity));
  transition: text-shadow 0.3s ease;
}

.headingFlex {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  will-change: transform, opacity, color;
}

.aiText .letter {
  color: rgba(255, 255, 255, 0);
}

.solutionsText .letter {
  color: rgba(255, 255, 255, 0);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  /* .headingWrapper {
    margin-bottom: 10%;
  } */
  .headerText {
    font-size: 2.5rem;
    text-shadow: none;
  }

  .headingFlex {
    flex-direction: row;
    gap: 1rem;
  }

  .letter {
    transform: translateY(15px);
  }
}

/* Animation Overrides */
@media (prefers-reduced-motion: reduce) {
  .letter {
    transform: none !important;
    opacity: 1 !important;
    transition: none !important;
  }
}
