/* Heading Styles */
.headerContentWrapper {
  position: relative;
  z-index: 2;
  padding-bottom: 3%;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.headingItem {
  position: relative;
  display: inline-block;
}

.headerText {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 700;
  margin: 0 auto;
  width: fit-content;
}

.headingFlex {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/* Letter animation settings */
.letter {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  transition: color 0.3s ease;
}

.aiText .letter,
.solutionsText .letter {
  opacity: 0;
}

.spacerXlarge {
  height: 4rem;
}

/* Responsive */
@media (max-width: 768px) {
  .headerText {
    font-size: 2.5rem; /* Smaller font size on mobile */
  }

  .headingFlex {
    flex-direction: row; /* Keep the items in the same row */
    gap: 1rem; /* Adjust the gap between the text */
  }

  .headingItem {
    display: flex; /* Ensure the items are displayed inline */
    justify-content: center;
    align-items: center;
  }
}
